{
	order floaty before header
}

http://:8040 {
	log {
		level INFO
	}
	floaty 4 10s {
		nextField 16 10m
		blankDuration 20
		allBlank
	}
	header X-Floaty {http.floaty}
	header X-Time {time.now.http}
	respond "Hello! The current Floaty ID is: {{placeholder \"http.floaty\"}}. {{placeholder \"http.floaty.allBlank\"}}, {{placeholder \"http.floaty.blankDuration\"}}, {{placeholder \"http.floaty.nextField\"}}"
	templates
}
