{
	order floaty before header
}

http://:8040 {
	floaty exampleService {
		nextField 16 10m
	}
	header X-Floaty {http.floaty}
	header X-Time {time.now.http}
	respond "Hello! The current Floaty ID is: {{placeholder \"http.floaty\"}}."
	templates
}